*{
    box-sizing: border-box;
}

a {
    color: #4f4f4f;

    &:hover {
        color:#087cce;
    }
}



.topstory {
    width: 100%;
    padding-top: 60px;
    
    img{
        width: 100%;
    }

    .container{
        display: flex;
        max-width: 1130px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
        
        .col-left-top {
            width: 780px;
            background: #f7f7f7;
            
            .art-top {
                display: flex;
                
                .thumb-art {
                    width: 520px;
                    
                    img{ 
                        width: 100%;
                    }
                }
                .content-art {
                    flex: 1;
                    padding: 20px;
                    
                    h3 {
                        a{
                            font-family: "Merriweather", serif;
                            margin-bottom: 10px;
                            padding-top: 20px;
                            font-weight: 600;
                            font-size: 25px;
                            color: #222;
    
                            &:hover {
                                color: #087cce;;
                            }
                        }
                    }   
    
                    p {
                        margin-top: 10px;
                        font-size: 14px;
                        line-height:1.3;
    
                        &:hover{
                            cursor: pointer;
                        }
                    }
    
                    
            }
            }

            .news-top {
                margin-top: 20px;
                margin-left: -20px;

                .list-news-top{
                    display:flex;
                    
                    li{
                        display: inline-block;
                        width: 32.5%;
                        padding-left: 20px;
                        vertical-align: top;
                        
                        a {
                            color: #222 ;
                        }

                        .title-news {
                            font-family: "Merriweather", serif;
                            margin-bottom: 10px;
                            padding-top: 20px;
                            font-weight: 500;
                            font-size: 20px;
                            color: #222;
                            a{
                                &:hover {
                                    color: #087cce;;
                                }
                            }
                        }

                        p{
                            font-size: 14px;
                            line-height:1.3;
                        }
                    }

                    .gocnhin{
                        width: 35%;
                        padding-left: 40px;
                        position: relative;

                        .infor-aut{
                            padding-top: 20px;
                            display: flex;
                            margin-top: 0;
                            position: relative;
                            right: 0;
                            bottom: 0;
                            align-items: flex-end;


                            .meta-news{
                                width: calc(100% - 56px);
                                display: block;
                                
                                
                                a { 
                                    display: block;
                                    font-family: "Merriweather",serif;
                                    font-size: 20px;
                                    color: #757575;
                                    font-style: italic;
                                    margin-right: 0;
                                }
                            }

                            img {
                                border-radius: 50%;
                                object-fit: cover;
                                width: 56px;
                                height: 56px;
                            }
                        }
                    }

                    .gocnhin::before {
                        content: "";
                        width: 2px;
                        height: 100%;
                        background: #e5e5e5;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }

                    
                }
            }
        }

        .col-right-top {
            width: 320px;
            padding-left: 20px;

            img {
                width: 100%;
            }
        }
    }
}

.stream-now{
    display: flex;
    img{
        width: 100%;
    }
    .has-border {
        width: 100%;

        &::before {
            content: "";
            height: 1px;
            position: absolute;
            top: 0;
            left: 15px;
            width: calc(100% - 30px);
            background: #e5e5e5;
        }
    }
    .container{
        display: flex;
        max-width: 1130px;
        padding: 20px 15px 0;
        margin: 20px auto 0;
        position: relative;
        
        .col-left{
            padding-right: 20px;
            width: 400px;
            position: relative;

            &::after {
                content: "";
                width: 1px;
                height: 100%;
                background: #e5e5e5;
                position: absolute;
                top: 0;
                right: 0;
            }
            .item-news{
                width: 100%;
                float: left;
                border-bottom: 1px solid #e5e5e5;
                border-top: 1px solid #e5e5e5;
                margin-top: 15px;
                padding-top: 15px;
                border-bottom: none;

                &:first-child{
                    border-top: none;
                    margin-top: 0;
                    padding-top: 0;
                }

                .title-news {
                    font-size: 15px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-family: "Merriweather",serif;
                    font-size: 18px;
                    line-height: 160%;
                    
                    a{
                        color: #222;

                        &:hover { color:#087cce;}
                    }
                }
    
                .thumbart {
                    width: 145px;
                    margin-right: 10px;
                    float: left;
                    position: relative;
    
                }
               
                .desc {
                    font-size: 14px;
                    line-height: 140%;
                }
            }
        }

        .col-right {
            padding-left: 20px;
            width: 700px;
            overflow: hidden;

            .nav-content {
                display: flex;
                padding: 0 0 10px 0;
                width: 1000px;
                overflow: hidden;
                justify-content: flex-start;
                align-items: center;

                float: left;
                background: #fff;
                padding: 0 0 15px 0;
                position: relative;
                
                a{
                    color: #222222;
                }

                .item-content:first-child {
                    margin-right: 10px;
                    height: 100%;
                    position: relative;
                    font: bold 16px "Merriweather",serif;
                    text-decoration: none;
                } 
                .item-content:nth-of-type(n+2){
                    border: 1px solid rgba(7,109,182,0.5);
                    margin-right: 10px;
                    line-height: 32px;
                    font-size: 14px;
                    padding: 0 10px;
                    display: block;
                    border-radius: 3px;
                    text-decoration: none;
                    color: #222222; 
                }

                .btn-next{
                    width: 20px;
                    text-align: center;
                    cursor: pointer;
                    position: absolute;
                    top: -3px;
                    left:675px;

                    outline: none;
                    z-index: 3;
                    height: 34px;
                    line-height: 32px;
                    background: #fff;
                    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.6);
                }

            }

            .box-category {
                padding-bottom: 15px;
                border-bottom: 1px solid #bdbdbd;
                position: relative;
                clear: both;
                margin-bottom: 15px;
                width: 100%;
                float: left;

                .inner-box {
                    display: flex;
                    flex-wrap: wrap;
                    background: #fff;
                    border-top: 1px solid #E5E5E5;
                    padding: 15px 0 15px 0;
                    width: 100%;
                    
                    .title-cate {
                        width: 100%;
                        font: bold 20px/160% "Merriweather",serif;
                        color: #222;
                        text-decoration: none;
                    }
                    .head-cv,
                    .head-cv-right{
                        .head-th {
                            display: flex;
                            margin-bottom: 3px;
                            padding: 3px 0 5px 0;
                            width: 100%;
                            position: sticky;
                            top: 0;

                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            font: 400 12px/100% arial;
                            color: #757575;
                            background: #fff;
                            z-index: 100;
    
                            .txt-label {
                                width: 58px;
                            }
                            .count-today {
                                width: calc((100% - 58px)/2);
                                text-align: right;
                                padding-right: 15px;
                            }
                            .count-all {
                                width: calc((100% - 58px)/2);
                                text-align: right;
                            }
                        }
                    }
                    .head-cv {
                        display: flex;
                        flex-wrap: wrap;
                        width: 47%;
                        padding-right: 17px;

                        .head-nhiem,
                        .head-nang,
                        .head-tuvong{
                            display: flex;
                            position: relative;
                            width: 100%;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            padding-right: 0;
                            margin-bottom: 15px;

                            .txt-label {
                                width: 58px;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 100%;
                            }
                            .count-today {
                                width: calc((100% - 58px)/2);
                                font: normal 20px/100% "Merriweather",serif;
                                text-align: right;
                                padding-right: 15px;
                            }
                            .count-all {
                                font: normal 20px/100% "Merriweather",serif;
                                width: calc((100% - 58px)/2);
                                text-align: right;
                            }

                        }
                        .head-nhiem {
                            .count-today {
                                color: #FF392B;
                            }

                            .count-all {
                                color: #F3585B;
                            }
                        }
                        .head-nang {
                            .count-today {
                                color: #8A1839;
                            }

                            .count-all {
                                color: #8A1839;
                            }
                        }
                        .head-tuvong {
                            .count-today {
                                color: #222222;
                            }

                            .count-all {
                                color: #222222;
                            }
                        }
                    }

                    .head-cv-right{
                        width: 53%;
                        padding: 0 0 0 16px;
                        position: relative;
                        overflow: auto;
                        height: 125px;
                        border-left: 1px solid #bdbdbd;

                        .ss-content {
                            width: 100%;
                            padding: 0;
                            position: relative;
                            overflow: auto;
                            box-sizing: border-box;
                            overflow: hidden;
                            
                            td {
                                text-align: right;
                                padding: 4px 0;
                                font-size: 14px;
                                line-height: 16px;
                            }

                            .col-prov{
                                width: 36%;
                                text-align: left;
                                a {
                                    color: #222;

                                }
                            }
                            .col-today{
                                width: 28%;
                                padding-left: 0;
                            }
                            .col-all{
                                width: 36%;
                                padding-left: 0;
                            }
                        }
                    }
                    ::-webkit-scrollbar {
                        width: 5px;
                      }
                    
                      ::-webkit-scrollbar-thumb {
                        background: rgb(134, 134, 134); 
                        border-radius: 10px;
                      }
                      
                      ::-webkit-scrollbar-thumb:hover {
                        background: #a1a0a0; 
                      }
                }

                .title-cate2 {
                    display: block;
                    position: relative;
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 20px;
                    font-family: "Merriweather",serif;
                    color: #222;
                    font-weight: bold;


                    h2 {
                        display: inline-block;
                        float: left;
                        position: relative;
                        margin-bottom: 15px;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background: #9f224e;
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                        }
                        
                    }

                    .sub-cate {
                        margin-left: 20px;
                        font-size: 13px;
                        line-height: 1.1538461538;
                        font-family: arial;
                        font-weight: 400;
                        margin-top: 5px;

                    }
                }

                .thumbart {
                    display: flex;
                    width: 67.648%;
                    background: none;
                    padding-bottom: 0;

                    .art-img {
                        width: 48.914%;
                        margin: 0;
                        position: relative;
                        float: left;
                        display: block;
                        overflow: hidden;
                        background: #f4f4f4;

                        img {
                            width: 100%;
                        }
                    }
                }

                .thumb-content,
                .thumb-right{
                    .cont-title{
                        font-size: 18px;
                        font-weight: 700;
                        clear: both;
                        font-family: "Merriweather",serif;
                        line-height: 140%;
                        margin-bottom: 5px;
                    }

                    .cont-des{
                        font-size: 14px;
                        line-height: 120%;
                    }

                }

                .thumb-content {
                    width: 51.086%;
                    padding-right: 20px;
                    padding-left: 15px;
                }

                .thumb-right {
                    width: 32.352%;
                    padding-left: 20px;
                    position: relative;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;

                    &::before {
                        width: 1px;
                        height: 100%;
                        content: "";
                        background: #e5e5e5;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                .sub-news-cate {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding-left: 0;
                    position: relative;

                    &::before {
                        width: 100%;
                        height: 1px;
                        content: "";
                        background: #e5e5e5;
                        position: absolute;
                        top: 15px;
                        left: 0;
                    }

                    .item-news-cate {
                        max-width: 200px;
                        width: 100%;
                        float: left;
                        padding-top: 10px;
                        margin-top: 15px;

                        position: relative;
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: none;
                        padding-left: 15px;

                        h3 {
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 0;
                            font-family: "Merriweather",serif;
                            line-height: 130%;
                        }

                        &::before {
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            content: "";
                            background: #ababab;
                            position: absolute;
                            top: 18px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

}
.container-bt {
        display: flex;
        max-width: 1130px;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;

        img{
            width: 100%;
        }
    .inner-box-business {
        width: 100%;
        position: relative;
        margin: 40px 0;
        
        &::before {
            content: "";
            background: #f7f7f7;
            position: absolute;
            top: -20px;
            left: -15px;
            right: -15px;
            bottom: -20px;

            padding-bottom: 40px;
            border: 1px solid #e5e5e5;
            z-index: 0;
        }
    
        .box-title {
            font-size: 14px;
            width: 100%;
            float: left;
            line-height: 18px;
            display: block;
            position: relative;
    
            margin-bottom: 20px;
            font-family: "Merriweather",serif;
            color: #222;
            font-weight: 400;
            .right{
                i {
                    &:first-child{
                        opacity: 0.5;
                    }

                    margin: 3px;
                    font-size: 20px;
                }
            }

            h2{
                display: inline-block;
                position: relative;
                font-size: 20px;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: #9f224e;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                }
            }
        }

        .list-business {
            width: 100%;
            float: left;
            margin-bottom: 20px;

            .swiper-container {
                display: flex;  
                width: 100%;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
                list-style: none;
                padding: 0;
                z-index: 1;

                .swiper-item  {
                    width: 260px;
                    float: left;
                    margin-right: 20px;

                    a{
                        font-family: "Merriweather",serif;
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
            }
        }
    }
}


.comt{
    font-size: 12px;
    color: #087cce;;

    .ic {
        color: #757575;
    }

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 979px){
    .topstory .container .col-left-top {
        width: 100%;
    }

    .col-right-top {
        display: none;
    }

    .stream-now .container .col-left {
        width: 50%;
    }
    .stream-now .container .col-right {
        width: 50%;
    }
     .sub-cate {
        display: none;
    }
    .stream-now .container .col-right .box-category .thumbart .art-img,
    .stream-now .container .col-right .box-category .thumbart,
    .stream-now .container .col-right .box-category .thumb-content,
    .stream-now .container .col-right .box-category .thumb-right{
        width: 100%;
        flex-wrap: wrap;
    }

    .stream-now .container .col-right .box-category .sub-news-cate{
        flex-wrap: wrap;
        .item-news-cate {
            max-width: unset;
        }
    }
    

}

@media screen and (max-width: 600px){
    .art-top {
        flex-direction: column;
    }
}
    


