body {
  margin: 0;
  font: 400 15px arial;;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
